.navbar {
  background-color: #488573;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #488573;
}

.navbar-nav > li > .dropdown-menu > li > a {
  color: #FAFCEF;
}

.navbar-nav > li > .dropdown-menu > li > a:hover {
  color: #555;
}

@media only screen and (max-width : 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #FAFCEF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      color: white;
    }
}

.navbar-default .navbar-brand {
  color: #FAFCEF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: #FAFCEF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.navbar-default .navbar-toggle {
  color: #FAFCEF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #488573;
}

.nav-pills > li > a {
    color: #488573;
}


.jumbotron {
    background-color: #CDDADD;
}

/*
.section {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}
*/

.panel-body {
/*  background-color: #ECF2F1;*/
}

body {
    background-color: #ECF2F1;
}
