#skills > .hero-body, #education > .hero-body, #experience > .hero-body, #projects > .hero-body {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

a {
  color: #125f93;
}

.hero.is-info {
  background-color: #125f93;
}

.footer {
  background-color: #363636;
  color: #fff;
}

.footer > div > .subtitle {
  background-color: #363636;
  color: #fff;
}